<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../img/IceCream1/icon.png" type="image/x-icon">
    <title>Snowy Cream - About</title>
</head>
<body>
    <header>
        <nav class="urlNav">
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="#" class="selectPage">about Us</a></li>
                    <li><a href="./contact.html">Contact</a></li>
                    <li><a href="./information.html">Information</a></li>
                    <li><a href="./benefitsTips.html">Benefits</a></li>
                    <li><a href="./raffle.html">Raffle</a></li>
                </ul>
        </nav>
        <section class="logo">
            
            <img src="../img/IceCream1/logo.png" alt="">
            
        </section>
    </header>
    <main class="aboutPag">
        <section class="title">
            <article>
                <h1>About Us</h1>
                <h2>we want to innovate</h2>
            </article>
        </section>
        <section class="about">
            
            <article class="contAbout">
                <article class="imgAbout">
                    <img src="../img/IceCream1/pancakes-ice.jpg" alt="">
                </article>
                <article class="description">
                    <p>We are a family that started to open their business with a different idea</p>
                </article>
            </article>

            <article class="contAbout">
                <article class="imgAbout">
                    <img src="../img/IceCream1/redcream.jpg" alt="">
                </article>
                <article class="description">
                    <p>The idea is to be able to try what we like the most, in the form of ice cream</p>
                </article>
            </article>
            
            <article class="contAbout">
                <article class="imgAbout">
                    <img src="../img/IceCream1/strawberry.jpg" alt="">
                </article>
                <article class="description">
                    <p>We would love to expand our business to other countries.</p>
                </article>
            </article>
        </section>

    </main>
    <footer>
        <p>Create By: Martin Vidan</p>
    </footer>

</body>
</html>