<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../img/IceCream1/icon.png" type="image/x-icon">
    <title>Benefits & Tips</title>
</head>
<body>
    <header>
        <nav class="urlNav">
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="./aboutUs.html">about Us</a></li>
                    <li><a href="./contact.html">Contact</a></li>
                    <li><a href="./information.html">Information</a></li>
                    <li><a href="#" class="selectPage">Benefits</a></li>
                </ul>
        </nav>
        <section class="logo">
            <div>
                <img src="../img/IceCream1/logo.png" alt="">
            </div>
        </section>
    </header>
    <main class="benefitsTips">
        <section class="title">
            <h1>Benefits and Tips</h1>
            <h2>Benefits and tips that are commonly said</h2>
        </section>
        <section class="contBenefits">
           
            <section class="benfits">
                <div class="benefitsImg">
                    <img src="../img/Sprint2/candy-icecream.jpg" alt="">
                </div>

                <div class="benefitsList">
                    <dl>
                        <dt>Benefits</dt>
                        <dd>
                            <ol>
                                <li>Provide a large amount of calcium.</li>
                                <li>Are made without using artificial colors</li>
                                <li>Contribute to hydration Git</li>
                            </ol>
                        </dd>
                    </dl>
                </div>
            </section>
    
            <section class="benfits">
                <div class="benefitsImg">
                    <img src="../img/Sprint2/cream-ice.jpg" alt="">
                </div>
                <div class="benefitsList">
                    <dl>
                        <dt>Tips</dt>
                        <dd>
                            <ol>
                                <li>Pasteurization, Maturation and Omogenization.</li>
                                <li>Freezing.</li>
                                <li>100% Natura.</li>
                            </ol>
                        </dd>
                    </dl>
                </div>
            </section>
        </section>
        

    </main>
    <footer>
        <p>Create By: Martin Vidan</p>
    </footer>
    
</body>
</html>