<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../img/IceCream1/icon.png" type="image/x-icon">
    <title>Snowy Cream - Contact</title>
</head>

<body class="contact">
    <header>
        <nav class="urlNav">
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="./aboutUs.html">About Us</a></li>
                <li><a href="#" class="selectPage">Contact</a></li>
                <li><a href="./information.html">Information</a></li>
                <li><a href="./benefitsTips.html">Benefits</a></li>
                <li><a href="./raffle.html">Raffle</a></li>
            </ul>
        </nav>
        <section class="logo">
            
            <img src="../img/IceCream1/logo.png" alt="">
            
        </section>
    </header>
    </header>
    <main>
        <section class="title">
            <article>
                <h1>Contact</h1>
                <h2>Order your ice cream</h2>
            </article>
        </section>
        <section class="contemInfo">
            <article class="imgInfo">
                <img src="../img/IceCream1/two-icecream.jpg" alt="">
            </article>

            <article class="descriptionInfo">
                <p>You can request delivery to our email or phone</p>
            </article>
        </section>

        <section class="social">
            <p>E-Mail: snowycream@m.com</p>
            <p>Phone: 0112331</p>
        </section>
    </main>
    <footer>
        <p>Create By: Martin Vidan</p>
    </footer>

</body>

</html>