<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../img/IceCream1/icon.png" type="image/x-icon">
    <title>More Information</title>
</head>
<body>
    <header>
        <nav class="urlNav">
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="./aboutUs.html">about Us</a></li>
                    <li><a href="./contact.html">Contact</a></li>
                    <li><a href="#" class="selectPage">Information</a></li>
                    <li><a href="./benefitsTips.html">Benefits</a></li>
                </ul>
        </nav>
        <section class="logo">
            <div>
                <img src="../img/IceCream1/logo.png" alt="">
            </div>
        </section>
    </header>
    <main class="information">

        <section class="title">
            <h1>More Information</h1>
            <h2>deas</h2>
        </section>

        <section class="contTable">
            <table>
                <tr>
                    <th>Elements</th>
                    <th>Schedule</th>
                    <th>Date</th>
                </tr>
                <tr>
                    <td>IceCream</td>
                    <td>2:00 P.M.</td>
                    <td>20/10</td>
                </tr>
                <tr>
                    <td>IceCream Cone</td>
                    <td>4:00 PM</td>
                    <td>27/10</td>
                </tr>
                <tr>
                    <td class="tableSpecial">IceCream Sauce</td>
                    <td class="tableSpecial">10:00 A.M</td>
                    <td class="tableSpecial">21/11</td>
                </tr>
            </table>

        </section>


    </main>
    <footer>
        <p>Create By: Martin Vidan</p>
    </footer>
</body>
</html>